h1 {
  font-size: 75px;
  font-family: "arial";
}

h2 {
  color: slategrey;
  font-size: 50px;
  font-family: "arial";
}

section {
	display: inline-block;
  width: 35%;
	padding: 2%;
}

.banner, .content {
  display: inline-block;
	text-align: center;
  margin: 0;
  width: 100%;
}

span {
	display: inline-block;
}