/*GENERAL PROPERTIES*/
body {
    margin: 0px;
}

a {
    text-decoration: none;
/*
    border-color: red;
    border-width: 1px;
    border-style: solid;
*/
}

h1 {
    
    font-family: 'Niconne';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 8vw;
    white-space: nowrap;
    
    margin: 0 2vw;
    
/*
    border-color: red;
    border-width: 1px;
    border-style: solid;
*/
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 200;
    font-size: 4vw;
    white-space: nowrap;
    
    margin: 0;
    
/*
    border-color: red;
    border-width: 1px;
    border-style: solid;
*/
}


/*HEADER BAR*/
.header {
    width: 100%;
    background-color: #131416;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));    
    
}

.nav-title-container {
    width: auto;
    display: grid;
    align-content: center;
    
    
    border-color: red;
    border-width: 1px;
    border-style: solid;
}


nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-color: red;
    border-width: 1px;
    border-style: solid;
/*    height: 10px;*/
    
}

.nav-button-container {
    display: grid;
    place-items: center;
}

.nav-button-container:hover {
    background-color: #FFFFFF;
}

.nav-button-container:hover .nav-button{
    color: #131416;
}


/*TAG SELECTOR*/
.tag-selector {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    justify-content: center;
    
    border-color: red;
    border-width: 1px;
    border-style: solid;
    height: auto;
}

.tag-selector-button {
    border: none;
    margin: 5px;
    aspect-ratio: 4/1;
    border-radius: 5em;
}






.gallery-container {
    display: grid;
    width: 100%;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 33vmin));
    grid-gap: 1rem;
    justify-content: center;
}


.gallery-image {
    aspect-ratio: 1 / 1;
    overflow: hidden;
}


.gallery-image > img {
    height: 100%;
}






#tagStorage {
    display: none;
}

#tagStorage.tag-music ~ div:not(.tag-music) {
    display: none;
}

#tagStorage.tag-food ~ div:not(.tag-food) {
    display: none;
}

#tagStorage.tag-portraits ~ div:not(.tag-portraits) {
    display: none;
}

#tagStorage.tag-christmas ~ div:not(.tag-christmas) {
    display: none;
}

#tagStorage.tag-products ~ div:not(.tag-products) {
    display: none;
}
